<%- include('./partials/head') %>

    <%- include('./partials/navbar') %>
        <h1>
            <%= num %>
        </h1>
        <!-- ------------------------------------- 1st Methodddd ------------------------------------------------ -->
        <% if (num % 2===0) { %>
            <h2>This is an Even Number</h2>
            <% } else { %>
                <h2>This is an odd number</h2>
                <% } %>

                    <!-- ------------------------------------2nd method -------------------------------------------------------- -->
                    <h2>This is an : <%= num % 2===0? 'Even' : 'Odd' %> Number</h2>


                    <br><br>
                    <%- include('./partials/footer') %>